.dotnet-home/
.nuget/

bin/
obj/
**/bin/
**/obj/

RiMCP/Assemblies/*.dll
RiMCP/Assemblies/*.pdb
RiMCP/Tools/McpProxy/*
!RiMCP/Tools/McpProxy/
!RiMCP/Tools/McpProxy/rimcp-proxy
!RiMCP/Tools/McpProxy/rimcp-proxy.cmd

.idea/
.vscode/
*.user
*.suo
*.userprefs

.DS_Store

*.log
*.tmp
*.temp
